<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091794110918-0fnpob25bqhv7h1r645se26ch85a13sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091794110918-0fnpob25bqhv7h1r645se26ch85a13sc</string>
	<key>API_KEY</key>
	<string>AIzaSyBX2eoty-2KrvRqG8YOKv9MVEqXY3AXB6M</string>
	<key>GCM_SENDER_ID</key>
	<string>1091794110918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vanessa.AI-Hacks-2</string>
	<key>PROJECT_ID</key>
	<string>femme4stem</string>
	<key>STORAGE_BUCKET</key>
	<string>femme4stem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091794110918:ios:07061ebc3654bc872c8ac7</string>
	<key>DATABASE_URL</key>
	<string>https://femme4stem.firebaseio.com</string>
</dict>
</plist>